@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;
}
html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto",sans-serif;
  line-height: 1.5;
}
@media screen and (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
}

/* Apply (custom components )*/

@layer components {

  /* layout */

  .docs-container {
    @apply flex flex-col justify-between min-h-screen
  }
  .docs-main {
    @apply pt-16 px-8 flex flex-col justify-center items-center
  }

  

 
  /* Home */

  .docs-card {
    @apply flex flex-col border-2 cursor-pointer break-inside-avoid p-6 rounded-xl space-y-2 transition-colors no-underline font-normal
  }
  .docs-card:hover{
    @apply text-blue-600 border-blue-600
  }
  
  /* Typography */

  h1 {
    @apply text-4xl md:text-5xl font-bold font-roboto
  }
  h2 {
    @apply text-3xl md:text-4xl font-bold font-roboto
  }
  h3 {
    @apply text-2xl md:text-3xl font-bold font-roboto
  }
  h4 {
    @apply text-xl md:text-2xl font-bold font-roboto
  }
  h5 {
    @apply text-base md:text-lg font-medium font-roboto
  }
  h6 {
    @apply text-base font-bold font-roboto 
  }
  
  
  /* Nav */

  .docs-nav-link-card {
    @apply no-underline block py-2 space-y-2 font-medium transition-all p-5 border rounded-lg bg-white border-slate-200 hover:border-slate-200 hover:text-black hover:shadow-lg hover:shadow-[#00000008]
  }

  /* Sidebar nav */

  .docs-nav-link-sidebar {
    @apply no-underline font-normal block px-4 py-2 my-1 rounded-full transition-all hover:text-black
  }
  .docs-nav-link-sidebar.active {
    @apply font-medium bg-blue-200/10 text-blue-500
  }

  /* docs Table (props list ) */

  table {
    @apply border-collapse mt-8 table-auto w-full text-sm text-left
  }
  thead th {
    @apply font-medium
  }
  thead tr {
    @apply border-b border-slate-200 bg-slate-50 
  }
  tbody tr {
    @apply border-b border-slate-200
  }
  th, td {
    @apply p-4 
  }

  /* Docs content */

  h2[id], h3[id], h4[id], h5[id], h6[id]{
    @apply pt-[7rem] -mt-[5rem] mb-8
  }
  
  
  .aside {
    @apply fixed left-0 top-0 h-full w-72 break-words pr-8 pb-6 pl-6 pt-4 shrink-0 hidden border-r z-40 md:block md:sticky md:top-20 md:h-[calc(100vh_-_4.5rem)] md:bg-transparent md:z-10 bg-white border-slate-200
  }
  .footer {
    @apply w-full py-8 px-8 mt-14 border-t text-center border-slate-300
  }

  .toc-content{
    @apply sticky top-8 max-h-[calc(100vh_-_8rem)]
  }
  .toc-list {
    @apply flex flex-col
  }
  .toc-list > li > .toc-list {
    @apply pl-4 text-sm
  }
  .toc-list > li > .toc-link {
    @apply text-base font-medium 
  }
  .toc-list > li > .toc-list .toc-link {
    @apply text-sm
  }
}

code:not([class]), code.docs-code{
  padding: 1px 4px;
  border-radius: 3px;
  color: rgb(38 50 255);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: rgb(38 50 255 / 5%);
}
code.docs-text-code{
  background-color: transparent;
  color: rgb(38 50 255);
}

