@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth;
}
html, body {
  padding: 0;
  margin: 0;
  font-family: "Roboto",sans-serif;
  line-height: 1.5;
}
@media screen and (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-color: #bebebe;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}


/* Apply (custom components )*/

@layer components {
  h1 { @apply text-4xl md:text-5xl font-bold font-roboto }
  h2 { @apply text-3xl md:text-4xl font-bold font-roboto }
  h3 { @apply text-2xl md:text-3xl font-bold font-roboto }
  h4 { @apply text-xl md:text-2xl font-bold font-roboto }
  h5 { @apply text-base md:text-lg font-medium font-roboto }
  h6 { @apply text-base font-bold font-roboto }
  
  table { @apply border-collapse mt-8 table-auto w-full text-sm text-left }
  thead th { @apply font-medium }
  thead tr { @apply border-b border-slate-200 bg-slate-50 }
  tbody tr { @apply border-b border-slate-200 }
  th, td { @apply p-4 }

  h2[id], h3[id], h4[id], h5[id], h6[id]{
    @apply pt-[7rem] -mt-[5rem] mb-8
  }
  
  .toc-content{
    @apply sticky top-8 max-h-[calc(100vh_-_8rem)]
  }
  .toc-list {
    @apply flex flex-col
  }
  .toc-list > li > .toc-list {
    @apply pl-4 text-sm
  }
  .toc-list > li > .toc-link {
    @apply text-base font-medium 
  }
  .toc-list > li > .toc-list .toc-link {
    @apply text-sm
  }
}

code:not([class]), code.docs-code{
  padding: 1px 4px;
  border-radius: 3px;
  color: rgb(38 50 255);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: rgb(38 50 255 / 5%);
}
code.docs-text-code{
  background-color: transparent;
  color: rgb(38 50 255);
}

